.home .features .feature {
    h2 {
        text-align: center
    }

    p {
        text-align: justify
    }
}

h1 {
    display: block
    margin-left: auto
    margin-right: auto
    text-align: center

    .header-anchor {
        display: none
    }
}

.profile-img {
    display: block
    margin-left: auto
    margin-right: auto
}